/*Reboot*/

*{
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 .btn, button{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
 .btn:focus, button:focus{
   outline: none;
 } 
 a[href^=tel]{
    color: #000;
 }
 input,button,textarea{font-family: inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner{padding: 0;border: 0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}


body {
    max-width: 100%;
    min-width: 320px;
    font-weight: 300;
    font-size: 1.1vw;
    font-family: "Lato", sans-serif;
}
/*-----HEADER---------------------------------------------------------------------*/

.main_block{
    display: block;
}

.header_main{
    display: flex;
    align-items: center;
    width: 100%;
}
.logo{
    width: 5.1%;
    margin: 2% 0 0 5%;
}
.header_list_div{
    width: 100%;
}
.header_list{
    display: flex;
    margin-top: 3%;
    margin-left: 55%;
    font-size: 1.2vw;
}
.header_list_item{
    list-style: none;
    color: grey;
    margin-left: 5%;
}

a.bluelink{text-decoration: none;color: #666;}

.language_choice{
    font-size: 1.2vw;
    font-family: "Lato";
    font-weight: 300;
    margin-top: -7%;
}
.lang_item{
    font-family: "Lato";
    font-weight: 300;
}
/*-----MAIN START PAGE ------------------------------------------------------------*/
.main_block_1 {
    display: flex;
    margin-top: 2%;
}
.main_block_1_1 {
    display: block;
    width: 5%;
    margin-top: 32%;
    padding-bottom: 6%;
}
.scrool_down_line{
    display: block;
    width: 3%;
    margin-left: 52%;
}
.scrool_down{
    display: block;
    width: 20%;
    margin-top: 40%;
    margin-left: 40%;
}
.main_block_1_2 {
    display: flex;
    width: 95%;
    background-image: url(../img/main_bg.svg);
    background-size: cover;
}
.main_page_text{
    display: flex;
    width: 95%;
}
.home_text{
    margin-left: 39%;
    width: 9%;
    height: 50%;
    margin-top: 7%;
}
.main_text_block{
    display: block;
    margin-left: 2%;
    width: 60%;
    margin-top: 13.3%;
}
.main_line{
    margin-top: 2%;
    width: 15%;
}
.page1_text1{
    font-weight: 400;
}
.maintext1_span{
    margin-left: 2%;
    font-size: 1.7vw;
    color: #454545;
}
.the_best_way {
    font-size: 5.2vw;
    font-weight: 200;
    color: #454545;
}
.your_home {
    font-size: 5.2vw;
    font-weight: 200;
    color: #454545;
}
.bold_text{
    font-weight: 300;
}
.design_text{
    width: 66%;
    margin-top: 26.2%;
    margin-left: 43%;
}
/*-----MAIN PAGE 2------------------------------------------------------------*/
.main_block_2 {
    width: 100%;
    display: flex;
}
.main_block_2_1 {
    display: block;
    width: 50%;
    background-image: url(../img/page2_1.jpg);
    background-size: cover;
    padding: 10% 0 0 9.7%;
}
.main_block_2_2 {
    width: 50%;
}
.image_2_2{
    width: 100%;
}
.text_page2_1 {
    font-size: 3.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #454545;
}
.page2_line{
    width: 20%;
    margin-top: 4.5%;
    margin-left: 2%;
}
.text_page2_2 {
    font-size: 1.1vw;
    line-height: 150%;
    margin-top: 3.3%;
}
.text_page2_3 {
    font-size: 1.1vw;
    line-height: 150%;
    margin-top: 2%;
}

/*-----MAIN PAGE 3------------------------------------------------------------*/

.main_block_3 {
    display: flex;
    width: 100%;
}
.main_block_3_1 {
    width: 50%;
}
.main_block_3_2 {
    display: block;
    width: 50%;
    background-image: url(../img/page3_2.jpg);
    background-size: cover;
}
.img3{
    width: 100%;
}
.modern {
    display: block;
    margin-top: 16%;
    float: right;
}
.page3line {
    display: block;
    margin-top: 18.5%;
    float: right;
    width: 40%;
    margin-right: -7.2%;
}
.page3hugetext {
    font-size: 1.1vw;
    line-height: 150%;
    margin-top: 20%;
    margin-left: 19.5%;
    padding-bottom: 2%;
}
.contacts_page3 {
    margin-top: 1.5%;
    margin-left: 19.5%;
    color: #454545;
}
.bold_page3{
    padding-right: 2%;
}
/* slider */

/* slider */
.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-wrapper {
    margin-top:  5%;
    margin-bottom: 2.5%;
}
.slider__item {
    display: flex;
    width: 100%;
    margin-top: 1.8%;
}
.two_pictures {
    display: flex;
    width: 59.6%;
}
.inner_slider1 {
    width: 40.4%;
    margin-left: 7.5%;
}
.bg-img {
    margin-left:2.25% ;
    width: 15%;
}
.big1 {
    margin-left: -5.25%;
    z-index: -1;
    width: 88%;
}
.bg-img__class {
    width: 100%;
}
.bg-img__class1 {
    width: 100%;
  height: 100%;
}
.heder_inner_slider1{
    display: flex;
    width: 100%;
}
.text01 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 4.1vw;
line-height: 100%;
color: rgba(69, 69, 69, 0.13);
}
.S_line__class {
    width: 82%;
    margin-left: 4.6%;
}
.inner_main-text__slider {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 4.1vw;
line-height: 120%;
color: #454545;
margin-top: 5.5%;
margin-bottom: 4.6%;
}
.oftop__text-slider {
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 1.1vw;
line-height: 150%;
color: #454545;
margin-bottom: 16%;
}
.pictures__slider-small {
    display: flex;
    width: 100%;

}
.smal__1 {
width: 61%;
}
.smal__2 {
margin-left: 2.9%;
width: 33.1%;
} 



/*-----OUR SERVISES------------------------------------------------------------*/


.our_servis_h2{
    padding: 8% 0 4.5% 0;
    text-align: center;
    font-size: 3.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #454545;
}
.left_line{
    margin-top: 1.6%;
    width: 15%;
}
.right_line{
    margin-top: 1.6%;
    width: 15%;
}


/*-----INFO BLOCK------------------------------------------------------------*/


.infomenu {
    display: block;
    width: 100%;
    padding: 0 0 8% 7.5%;
}
.infomenu1 {
    display: flex;
}
.info_mini_block{
    width: 25%;
}
.infomenu2 {
    display: flex;
    margin-top: 5%;
}
.info_icon{
    display: inline;
    width: 10%;
}
.infoblock_name{
    display: inline;
    font-size: 2.3vw;
    margin-left: 2%;
    color: #454545;
}
.infoblock_text{
    font-size: 1.4vw;
    line-height: 150%;
    margin-top: 4%;
    font-weight: 275;
}


/*-----UNDER INFO BLOCK------------------------------------------------------------*/


.statistic{
    width: 100%;
    background-image: url(../img/huge_bg.jpg);
    background-size: cover;
}
.statistic_numbs{
    width: 50%;
    margin-left: 24%;
    margin-top: 15%;
    padding-bottom: 15%;
}


/*-----FOOTER---------------------------------------------------------------------*/


.footer_main {
    display: flex;
    width: 100%;
    padding-bottom: 3.5%;
}
.footer_miniblock1 {
    width: 11%;
    margin-top: 4%;
    margin-left: 5%;
}
.footer_miniblock2 {
    width: 11%;
    margin-top: 4%;
    margin-left: 3%;
}
.info_icon_foot {
    width: 20%;
    margin-top: -1%;

}
.foot_name {
    display: inline;
    font-size: 1.9vw;
}
.foot_text {
    margin-top: 5%;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.538);
}
.foot_span{
    margin-left: 4%;
}
.end_foot{
    display: block;
    width: 60%;
    margin-left: 20%;
}
.foot_list_item{
    display: inline;
    list-style: none;
    color: grey;
    margin-left: 5%;
    font-size: 1.2vw;
}
.foot_list{
    margin-top: 9.5%;
    margin-left: 15%;
}
.logo2{
    margin-top: -1%;
    width: 15%;
}
.foot_line{
    margin-left: 56%;
    margin-top: 1%;
    width: 36%;
}
.last_text{
    margin-left: 60.5%;
    margin-top: 1%;
    width: 31%;
}